.body {
  background: rgb(60, 60, 60);
  line-height: 1.6;
  scroll-behavior: smooth;
}

.barra-orizzontale {
  border: 5px solid #5887df;
  border-radius: 5px;
  width: 50%;
}

.logo {
  margin-top: 15%;
  margin-bottom: 10%;
}