

.btn{
    transition: ease-out 0.2s;
    box-shadow:inset 0 0 0 #6622dd;
    outline: none;

    &:hover {
        color: white;
        box-shadow: inset 100px 0 0 0 #6622dd;
        border: 4px solid #6da0ff;
    }
}

